html {
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'roboto condensed', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.header__logo {
    padding: 88px 0 85px;
    border-bottom: 2px solid #c4c4c4;
}

.headertop-menu__items {
    display: flex;
    justify-content: center;
}

.headertop-menu__item {
    border-left: solid 1px #C4C4C4;
    border-right: solid 1px #C4C4C4;
}

.headertop-menu__item:first-child {
    border-left: solid 1px #C4C4C4;
}

.headertop-menu__item:last-child {
    border-right: solid 1px #C4C4C4;
}

.headertop-menu__item a {
    display: inline-block;
    width: 300px;
    padding: 34px 10px 38px;
    color: #888;
    transition: all 0.5s;
    border-left: solid 1px #C4C4C4;
    border-right: solid 1px #C4C4C4;
}

.headertop-menu__items li +li {
    margin-left: -2px;
}

.headertop-menu__item_active a,
.headertop-menu__item a:hover {
    background: #000;
    color: #fff;   
}

.slider__item {
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.slick-arrow {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 5;
    cursor: pointer;
    transform: translateY(-50%);
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

.search-inner {
    padding: 60px 0 70px;
    line-height: 24px;
}

.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__form-label {
    color: #888;
    font-size: 24px; 
    max-width: 153px;
    width: 100%;
}

.search__form-input {
    height: 70px;
    padding: 0 15px;
    border: 2px solid #c4c4c4;
    margin-left: 69px;
    color: #888;
    font-size: 18px;
    max-width: 430px;
    width: 100%;
}

.search__form-input::placeholder {
    font-family: 'roboto condensed', sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.search__form-button {
    border: none;
    background-color: #c4c4c4;
    color: #fff;
    padding: 20px 24px 21px 36px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.search__form-button::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../images/search-icon.svg);
    top: 26px;
    left: 9px;
}

.pop__title {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
    padding: 18px 15px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}

.pop__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.pop__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 438px;
}

.pop__item--img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    object-fit: cover;
}

.pop__item-text {
    max-width: 225px;
    padding: 15px;
    color: #888;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

.pop__item-btn a{
    padding: 13px 48px;
    background-color: #c4c4c4;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.advantages__items {
    display: flex;
    justify-content: start;
    margin-bottom: 108px;
}

.advantages__item{
    display: flex;
    flex-direction: column;
    margin-right: 113px;
}

.advantages__item-title {
    display: flex;   
}

.advantages__item-title img{
    width: 103px;
    height: 103px;
    border-radius: 50%;
    object-fit: cover;
    background-color: transparent;
}

.advantages__item-title-title {
    max-width: 350px;
    font-family: 'PT Serif', serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-left: 33px;
    margin-bottom: 20px;
}

.advantages__item-text {
    font-size: 18px;
    line-height: 24px;
    max-width: 470px;
    text-align: left;
    margin-bottom: 42px;
}

.advantages__item-more {
    display: flex;
    align-items: center;
}

.advantages__item-more a {
    color: #888;
    font-size: 18px;
    line-height: 24px;
    margin-left: 6px;
    cursor: pointer;
    text-decoration:underline;
}

.advantages__item-more img{
    border-radius: 50%;
    background-color: transparent;
}

.cottage {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
}

.cottage__title {
   display: inline-block;
   max-width: 385px;
   font-family: 'PT Serif', serif;
   font-size: 48px;
   line-height: 48px;
   font-weight: 400;
   color: #fff;
   margin-top: 68px;
}

.cottage__btn a{
    display: inline-block;
    padding: 16px 17px;
    background-color: #000;
    margin-top: 15px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    transition: all 0.5s;
}

.cottage__btn a:hover {
    background-color: #fff;
    color: #000;
}

.feedback {
    background-color: #000;
    padding-top: 100px;
    font-size: 18px;
    color: #fff;
    padding-bottom: 202px;
}

.feedback-inner {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    max-width: 261px;
    text-align: center;
    display: inline-block;
}

.feedback-inner__managers {
    width: 297px;
    text-align: center;
}

.feedback-inner__managers-info {
    display: flex;
    justify-content: space-between;
}

.feedback-inner__manager {
    margin-top: 27px;
}

.feedback-inner__manager img{
    border-radius: 50%;
}

.feedback-inner__manager-text {
    width: 89px;
    display: inline-block;
    margin: 22px 0 43px;
    line-height: 21px;
}

.feedback-inner__manager-btn{
    display: inline-block;
    padding: 16px 21px;
    background-color: #fff;
    font-family: 'roboto condensed', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    border: solid 2px #fff;
    transition: all 0.5s;
}

.feedback-inner__manager-btn:hover{
    background-color: #000;
    color: #fff;
}

.feedback-inner__blog {
    text-align: center;
}

.feedback-inner__blog-title {
    margin-bottom: 42px;
}

.feedback-inner__blog-items {
    text-align: left;
}

.feedback-inner__blog-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.feedback-inner__blog-item a{
    margin-left: 37px;
    color: #fff;
}

.feedback-inner__feedback {
    max-width: 300px;
    text-align: center;
    position: relative;
}

.feedback-inner__feedback-title {
    margin-bottom: 49px;
}

.feedback-inner__feedback-text {
    text-align: left;
    line-height: 21px;
    margin: 23px 0;
}

.feedback-inner__feedback-btn a {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    padding: 16px 28px;
    background-color: #fff;
    line-height: 18px;
    color: #000;
    border: solid 2px #fff;
    transition: all 0.5s;
}

.feedback-inner__feedback-btn a:hover {
    background-color: #000;
    color: #fff;
}

.footer {
    background-color: #000;
}

.footer-inner {
    display: flex;
    align-items: center;
    margin-bottom: 99px;
}

.footer-inner__menu {
    margin-right: 130px;
}

.footer-inner__menu-item a{
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}

.footer__search {
    display: inline-block;
}

.footer__search-form {
    display: flex;
    align-items: center;
}

.footer__search-form-label {
    color: #888;
    font-size: 18px;
    line-height: 18px; 
    margin-right: 10px;
}

.footer__search-form-input {
    height: 70px;
    padding: 0 15px;
    border: 2px solid #c4c4c4;
    color: #888;
    font-size: 18px;
    line-height: 24px;
    flex-shrink: 0;
    max-width: 511px;
    width: 100%;
}

.footer__search-form-input::placeholder {
    font-family: 'roboto condensed', sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer__search-form-button {
    border: none;
    background-color: #c4c4c4;
    color: #fff;
    padding: 26px 33px 26px 37px;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    position: relative;
}

.footer__logo {
    background-color: #fff;
    text-align: center;
    margin-bottom: 23px;
}

@media (max-width: 1220px) {
    .headertop-menu__items {
        flex-direction: column;
    }
    .headertop-menu__item:first-child,
    .headertop-menu__item:last-child {
        border-left: none;
        border-right: none;
    }
    .headertop-menu__item {
        border-left: none;
        border-right: none;
    }
    .headertop-menu__item a{
        border-left: none;
        border-right: none;
        display: block;
        width: 100%;
        padding: 10px;
        border-bottom: 2px solid #c4c4c4;
    }
    .pop__items {
        flex-direction: column;
        margin-bottom: 50px;        
    }
    .pop__item {
        flex-direction: row;
        justify-content: center;
        height: auto;
        padding: 15px;
    }
    .advantages__items {
        margin-bottom: 50px;
        flex-direction: column;        
    }
    .advantages__item {
        margin: 0 auto 25px;
    }
    .advantages__item-text {
        padding: 15px;
        margin-bottom: 10px;
    }
    .feedback-inner {
        flex-direction: column;
        align-items: center;
    }
    .feedback-inner__managers, .feedback-inner__blog {
        margin-bottom: 40px;
    }

    .feedback-inner__blog-title,
    .feedback-inner__feedback-title {
        margin-bottom: 10px;
    }
    .feedback-inner__feedback-btn a{
        bottom: -50px;
        left: 73px;
    }
    .feedback {
        padding: 50px 10px 100px;
    }
    .footer-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-inner__menu {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .footer__search {
        width: 100%;
    }
    .footer__search-form {
        justify-content: center;
    }
}

@media (max-width: 830px) {
    .search-inner {
        padding: 15px 0;
    }
    .footer__search {
        width: 100%;
    }
    .search__form,
    .footer__search-form {
        flex-direction: column;
        text-align: center;
        padding: 0 15px;
    }
    .search__form-input,
    .footer__search-form-input {
        margin: 15px 10px;
        max-width: 100vw;
    }
    .search__form-button,
    .footer__search-form-button {
        width: 100%;
    }
    .cottage {
        min-height: 60vh;
    }
    .cottage__title {
        font-size: 24px;
        line-height: 24px;
    }
    .slider__item {
        min-height: 60vh;
    }
}

@media (max-width: 700px) {
    .pop__title {
        margin-bottom: 20px;
    }
    .pop__item {
        flex-direction: column;
        justify-content: start;
    }
    .pop__item-text {
        padding: 15px;
    }
    .pop__items {
        margin-bottom: 40px;
    }
}

@media (max-width: 520px) {
    .advantages__item-title-title {
        font-size: 24px;
        line-height: 24px;
    }
    .pop__title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media (max-width: 500px) {
    .advantages__item-title-title {
        font-size: 24px;
        line-height: 24px;
    }

}

@media (max-width: 410px) {
    .logo img{
        max-width: 300px;
        display: inline-block;
    }

    .logo {
       padding: 15px 15px;
    }

    .slider__item {
        min-height: 300px;
    }
}

